@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

/* Base styles */

root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 1em;
  font-family: "Commissioner", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Button */

button {
  padding: 17px 40px;
  /* background-color: #147a73; */
  background-color: #3cb3ab;
  color: white;
}

/* Navbar */

.hero {
  background: linear-gradient(0, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75)),
    url(/imgs/image-hero-desktop.jpg) no-repeat center;
  min-height: 400px;
}

.nav-link {
  /* color: var(--white); */
  color: hsl(0, 0%, 100%);
}

/* Section one: */
.main-container {
  max-width: 720px;
  position: relative;
  top: -80px;
  z-index: 0;
}

.back-project {
  background: #ffffff;
}

.logo-master {
  position: absolute;
  top: -30px;
}

/* Media Quiery */

@media screen and (max-width: 767px) {
  /* Navbar */

  .hero {
    min-height: 300px;
  }

  .hamburger-toggler {
    border: none;
    outline: none;
  }

  .hamburger-toggler:focus {
    box-shadow: none;
  }

  .nav-link {
    color: #333;
  }

  .mb-bg-white {
    /* background-color: var(--white); */
    background-color: hsl(0, 0%, 100%);
  }
}

/* 

Layout 

- Mobile: 375px
- Desktop: 1440px

# Colors

### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)

### Neutral

- Black: hsl(0, 0%, 0%)
- Dark gray: hsl(0, 0%, 48%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Commissioner](https://fonts.google.com/specimen/Commissioner)
- Weights: 400, 500, 700

*/
